// CSS Reset
@import "../bootstrap/less/reset.less";

// Core variables and mixins
@import "../bootstrap/less/variables.less";

@iconSpritePath:          "/bundles/ecentinelacomiconv/bootstrap/img/glyphicons-halflings.png";
@iconWhiteSpritePath:     "/bundles/ecentinelacomiconv/bootstrap/img/glyphicons-halflings-white.png";

@import "../bootstrap/less/mixins.less";

// Grid system and page structure
@import "../bootstrap/less/scaffolding.less";
@import "../bootstrap/less/grid.less";
@import "../bootstrap/less/layouts.less";

// Base CSS
@import "../bootstrap/less/type.less";
// @import "../bootstrap/less/code.less";
@import "../bootstrap/less/forms.less";
@import "../bootstrap/less/tables.less";

// Components: common
@import "../bootstrap/less/sprites.less";
// @import "../bootstrap/less/dropdowns.less";
@import "../bootstrap/less/wells.less";
@import "../bootstrap/less/component-animations.less";
// @import "../bootstrap/less/close.less";

// Components: Buttons & Alerts
@import "../bootstrap/less/buttons.less";
// @import "../bootstrap/less/button-groups.less";
// @import "../bootstrap/less/alerts.less";

// Components: Nav
@import "../bootstrap/less/navs.less";
@import "../bootstrap/less/navbar.less";
// @import "../bootstrap/less/breadcrumbs.less";
// @import "../bootstrap/less/pagination.less";
// @import "../bootstrap/less/pager.less";

// Components: Popovers
// @import "../bootstrap/less/modals.less";
@import "../bootstrap/less/tooltip.less";
// @import "../bootstrap/less/popovers.less";

// Components: Misc
// @import "../bootstrap/less/thumbnails.less";
@import "../bootstrap/less/labels-badges.less";
@import "../bootstrap/less/progress-bars.less";
// @import "../bootstrap/less/accordion.less";
// @import "../bootstrap/less/carousel.less";
// @import "../bootstrap/less/hero-unit.less";

// Utility classes
@import "../bootstrap/less/utilities.less";

// Comiconv
html,
body {
    height: 100%;
}

body {
    overflow-x: hidden;
    #gradient .vertical(#efefef, #ccc);

    &.dragenter #drop-area #drop {
        .opacity(100);
    }
}

br {
    margin-bottom: 5px;
}

.navbar-inner {
    .border-radius(0);
}

#requirement-error {
    text-align: center;
}

#github img {
    position: absolute;
    right: 0;
    top: 0;
}

#progress {
    position: absolute;
    z-index: 1;
    .size(30px, 499px);

    &.in {
        .opacity(50);
    }
}

#drop-area {
    display: block;
    margin: 40px auto auto;

    #drop {
        text-align: center;
        .transition(opacity .3s linear);
        .opacity(60);

        img {
            border: 3px dashed #999;
            margin: auto;
            padding: 20px;
            .square(40px);
            .border-radius(5px);
        }

        a {
            color: #999;
            display: block;
            font-size: 24px;
            font-weight: bold;
            line-height: 32px;
            text-align: center;
            margin: 20px auto auto;
        }
    }

    #fader {
        background: #f5f5f5 url(/bundles/ecentinelacomiconv/images/loader.gif) no-repeat center center;
        position: absolute;
        z-index: -1;
        .opacity(0);
        .square(100%);
        .transition(opacity .3s linear);

        &.in {
            z-index: 0;
            .opacity(50);
        }
    }

    #table {
        position: relative;
        width: 500px;

        .move,
        .trash,
        .retry {
            width: 14px;
        }

        .icon-move {
            cursor: move;
        }

        .icon-trash {
            cursor: pointer;
        }

        .icon-repeat {
            cursor: pointer;
            display: none;
        }

        tr.uploading,
        tr.uploaded,
        tr.error {
            .icon-move,
            .icon-trash {
                display: none;
            }
        }

        tr.error {
            td {
                color: #fff;
                #gradient > .vertical(#ee5f5b, #c43c35);
            }

            .icon-repeat {
                display: inline-block;
            }
        }

        .dropover {
            td {
                background-color: @blue;
                color: @white;
            }

            &.invalid td {
                background-color: @red;
            }
        }
    }
}
